@font-face {
  font-family: 'Pretendard';
  src: url('/src/font/Pretendard-Regular.otf') format('truetype');
}
/* Module */
.nav-header {
  position: relative;
  height: 50px;
}
.btn-header-back {
  margin: 17px 0 0 25px;
  float: left;
}
.nav-header img {
  width: 16px;
  height: 16px;
}
.nav-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.btn-header-save {
  margin: 13px 19px 0 0;
  float: right;
  width: 66px;
  height: 26px;
  background-color: #c6dc95;
  border-radius: 14px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Pretendard';
}

/* Profile */
#main {
  padding: 25px 0 0 0;
  height: 100vh;
  /* height: calc(100vh - 150px); */
  background-color: #fff8e1;
  font-family: 'Pretendard';
}

.box-profile {
  position: relative;
  margin: 25px auto;
  width: 311px;
}
.box-profile img {
  position: absolute;
  top: -28px;
  left: 30px;
  width: 57px;
}
.box-info {
  margin: 0 0 15px 0;
  padding: 24px 0 30px 28px;
  height: 109px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid #81b214;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box-info h2 {
  margin-bottom: 2px;
  font-size: 17px;
  color: #81b214;
}
.txt-desc-name {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffcc29;
}
.txt-desc-school {
  padding: 2px;
  font-size: 14px;
  color: #81b214;
}

.box-btns {
  margin: 7px 20px 0 0;
  float: right;
}
.box-btns button {
  width: 75px;
  height: 27px;
  border-radius: 13px;
  background-color: white;
  font-size: 14px;
  font-family: 'Pretendard';
}
.btn-profile-quit {
  border: 1px solid #ff1026;
  color: #ff1026;
}
.btn-profile-alt {
  border: 1px solid #81b214;
  color: #81b214;
}

#footer {
  padding: 14px 0 0;
  height: 36px;
  text-align: center;
}
#footer a {
  margin: 14px 40px 0;
}
#footer img {
  width: 22px;
  height: 22px;
  background-color: lightblue;
}

/* Post */
.wrap-post {
  margin: 0 auto;
  padding: 20px 0 20px 25px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrap-post h3 {
  margin: 5px 24px 20px 0;
  color: #81b214;
  font-size: 14px;
  text-align: right;
}

.text-today {
  margin: 0 0 12px 0;
  font-size: 14px;
  color: #81b214;
}

.text-title {
  padding: 0 0 9px;
  width: 274px;
  border: none;
  border-bottom: 1px solid #81b214;
  font-size: 18px;
  color: black;
  font-family: 'Pretendard';
}
.text-title:focus {
  outline: none;
}
.text-writer {
  margin: 7px 24px 27px 0;
  font-size: 14px;
  color: #81b214;
  text-align: right;
}
.wrap-post label {
  display: block;
  margin: 0 0 35px 0;
  font-size: 14px;
  color: #81b214;
}
.wrap-post label select,
.wrap-post label input {
  text-align: center;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrap-part {
  display: flex;
}
.place-start {
  padding-right: 10px;
}
.mod-style-box {
  height: 33px;
  border-radius: 10px;
  border: 1px solid #81b214;
  background-color: #ffffff;
  font-size: 16px;
}
.mod-posit-box1 {
  display: block;
  margin: 9px 0 0;
  width: 130px;
  font-family: 'Pretendard';
}
.mod-posit-box2 {
  display: block;
  margin: 9px 0 0;
  width: 270px;
  font-family: 'Pretendard';
}

/* Detail */
.wrap-detail h3 {
  margin: 5px 24px 20px 0;
  color: #81b214;
  font-size: 14px;
  text-align: right;
}

.wrap-detail {
  margin: 0 auto;
  padding: 20px 0 20px 25px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrap-list {
  margin: 0 0 35px 0;
}
.wrap-list p {
  display: block;
  margin: 0 0 0 0;
  font-size: 14px;
  color: #81b214;
}
.box-interval {
  margin-right: 10px;
}
.btn-finish {
  display: inline-block;
  position: relative;
  margin: 25px 0 10px 0;
  width: 66px;
  height: 26px;
  background-color: #c6dc95;
  border-radius: 14px;
  line-height: 26px;
  text-align: center;
}
.btn-finish::before {
  position: absolute;
  top: -19px;
  left: 14px;
  width: 39px;
  height: 19px;
  background-image: url('/src/icons/logo2.png');
  background-size: 39px 19px;
  content: '';
}
.btn-fix {
  display: inline-block;
  margin: 25px 0 0 5px;
  width: 66px;
  height: 26px;
  background-color: #ffe89e;
  border-radius: 14px;
  line-height: 26px;
  text-align: center;
}
.text-explain {
  margin: 0 0 30px 0;
  font-size: 14px;
  color: #ffcc29;
}

/* footer */
.footer {
  position: fixed;
  padding: 9px 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
.icon-login img,
.icon-write img,
.icon-profile img {
  width: 16px;
}
.icon-login,
.icon-write,
.icon-profile {
  display: inline-block;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.icon-write {
  margin: 0 80px;
}
