/* Module */
.nav-header {
  position: relative;
  height: 50px;
}
.btn-header-back {
  margin: 17px 0 0 25px;
  float: left;
}
.nav-header img {
  width: 16px;
  height: 16px;
  background-color: blue;
}
.nav-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #af0010;
  font-weight: 700;
}
.btn-header-save {
  margin: 13px 19px 0 0;
  float: right;
  width: 66px;
  height: 26px;
  background-color: #af0010;
  border-radius: 14px;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

/* Profile */
#main {
  padding: 26px 0 0 0;
  height: calc(100vh - 126px);
  background-color: #e5e5e5;
}

.box-profile {
  margin: 0 auto;
  width: 311px;
}
.box-title {
  margin: 0 0 11px 0;
  height: 22px;
}
.box-title img {
  margin: 0 8px 0 0;
  width: 22px;
  height: 22px;
  background-color: blue;
}
.box-title h1 {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  vertical-align: top;
}

.box-info {
  margin: 0 0 15px 0;
  padding: 24px 0 0 28px;
  height: 109px;
  background-color: #132b31;
  border-radius: 24px;
  color: white;
}
.box-info h2 {
  margin: 0 0 16px 0;
  font-size: 17px;
  font-weight: 700;
}
.box-info p {
  font-size: 16px;
}

.box-btns {
  text-align: right;
}
.box-btns button {
  width: 75px;
  height: 27px;
  border: 0;
  border-radius: 13px;
  color: #ffffff;
}
.btn-profile-quit {
  background-color: #af0010;
}
.btn-profile-alt {
  background-color: #132b31;
}

#footer {
  padding: 14px 0 0;
  height: 36px;
  text-align: center;
}
#footer a {
  margin: 14px 40px 0;
}
#footer img {
  width: 22px;
  height: 22px;
  background-color: lightblue;
}

/* Post */
.wrap-post {
  margin: 0 auto;
  padding: 17px 24px 0 30px;
  width: 257px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrap-post h3 {
  margin: 0 0 15px;
  color: rgba(175, 0, 16, 0.5);
  font-size: 14px;
  text-align: right;
}

.text-today {
  margin: 0 0 8px 9px;
  color: rgba(19, 43, 49, 0.5);
  font-size: 14px;
}

.text-title {
  margin: 0 0 19px 9px;
  padding: 0 0 9px;
  width: 235px;
  border: none;
  border-bottom: 0.5px solid #af0010;
  font-size: 18px;
}

.wrap-post label::before {
  position: absolute;
  transform: translateX(-25px);
  width: 20px;
  height: 20px;
  background-color: red;
  content: '';
}
.wrap-post label {
  display: block;
  margin: 0 0 12px 26px;
  font-weight: 700;
}
.wrap-post label select {
  text-align: center;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mod-style-box {
  height: 31px;
  background-color: #efefef;
  border: none;
  border-radius: 24px;
  font-size: 16px;
}
.mod-posit-box1 {
  width: 101px;
}
.mod-posit-box2 {
  display: block;
  margin: 9px 0 0;
  width: 242px;
  transform: translateX(-25px);
}

.text-explain {
  margin: 0 0 13px;
  width: 251px;
  font-size: 14px;
  color: #cacaca;
}

.btn-finish {
  margin: 0 0 29px;
  width: 66px;
  height: 26px;
  background-color: #132B31;
  border: none;
  border-radius: 14px;
  color: #ffffff;
  font-size: 16px;

}

/* Detail
